<!DOCTYPE html>
<html>
<head>
	<title>registration form</title>
<meta charset="utf-8">
 <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="style.css">
  <script src="bower_components/angular/angular.min.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="bower_components/jquery/dist/jquery.min.js"></script>
  <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="app.js"></script>
  <script src="script.js"></script>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body ng-app="myApp" ng-controller="myController">
	
	<header><h2>Login Here</h2></header>  
	<div class="container">
    <form>
    <h2>Login</h2>
    <div class="form-group">
      <label>User Name:</label>
      <input type="text" class="form-control"ng-model="Uname" placeholder="Enter your User Name" required>
    </div>
    <div class="form-group">
      <label>Password :</label>
      <input type ="password"  placeholder ="Enter Password" class="form-control" ng-model="Pwd" required>
    </div>
    <div class="checkbox">
      <label><input type="checkbox" ng-model="chkbxReme"> Remember me</label>
    </div>
     <a href="#"><span></span> Forgot Password</a>
    <button type="submit" class="btn btn-primary" ng-click="login()">Sign In</button>
    
  </form>
</div>
	   <div ng-view></div>  
	   </body>	
<footer>Copyright &copy; www.tcs.com</footer>	   
</html>