header {
	z-index: 1;
	position:fixed;
	margin-top:0px;
    background-color: #B8860B;
    height: 80px;
	text-align:center;
	padding: 16px 60px; 
	color: white;
    width: 100%;
	
}
footer {
	position:fixed;
	text-align:center;
    background-color: #B8860B;
	color: white;
    height: 50px;
	bottom:0px;
    width: 100%;
}
form {
	max-width: 420px;
    padding: 15px 38px 66px;
    margin: 0 auto; 
    background-color: rgba(0,128,128,0.5);
	margin-top:130px ;
	  
}
